@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-image: linear-gradient(#628E75, #1A4855);
    background-repeat: no-repeat;
    background-position: 100% auto;
    background-attachment: fixed; /*deixa o background fixo n atela toda*/
    font-family: "Poppins";
}

main {
    display: flex;
    gap: 10.8rem;
    width: 100%;
    align-items: center; 
    justify-content: space-between;
    position: relative; 
}

.content {
    margin: auto;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo img {
    margin-top: 2.5rem;
    margin-left: 10.3rem;
}

.redes {
    display: flex;
    gap: 3rem;
    margin-right: 10.3rem;
    margin-top: 2.5rem; 
}

.button {
    color: #fff;
    transform: skew(-10deg);/*deixa os elementos em italico*/
    margin-right: 1.25rem;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;  
    text-decoration: none;   /*tira o siblinhado*/
    transition: background 0.3s;

    flex-wrap: nowrap; /*deixa o botão certinho*/
} 


.button .filme {
    background: #628E75;
    border: 3px solid #628E75;
   
}

.button .filme:hover{
    background-color: #58ae7e;
    border: 3px solid #fff;
}

.button .triler {
    border: 3px solid #628E75;
    
}

.button .triler:hover {
    background-color: #84c4a1c9; 
    border: 3px solid #fff;
}

.button .film .play {
   display: inline;
    
}

.animação {
    display: inline-flex;
    margin-left: 10.3rem;
    margin-top: 10.3rem;
    animation: float 3s ease-in-out infinite;
}

.text {
    margin-right: 10.3rem;
}

.text h3 {
    font-size: 700 1.25rem sans-serif;
    margin-bottom: 0.875rem;
    line-height: 1.875em;
}

.text h1 {
    font: 900 4.5rem sans-serif ;
    margin-bottom: 1.5rem;
    line-height: 109%;
}

.text p {
    font:500 1rem sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 2.8rem;
    line-height: 180%;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
   
    }





